<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/register.css')}}">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <label for="username" class="div">Username:</label>
        <input type="text" id="username" name="username" placeholder="enter your username"><br><br>
        <label for="email" class="div">Email:</label>
        <input type="email" id="email" name="email" placeholder="enter your email"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="enter your password" name="password"><br><br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</body>
</html>